*{
    margin: 0;
}
nav {
    background-color: rgb(185, 61, 30);
    padding: 1px;
    margin: 0;
  }
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  li, a {
    text-decoration: none;
    color: rgb(180, 237, 224);
    margin-right: 20px;
  }
  
  nav, ul, li, a {
    text-align: right;   
    font-size: 25px;
  }
  
.hero{
    background-image: url("../img/sadcat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
body{
    background-color: beige;
    font-family: 'Barlow Condensed', sans-serif;
}

h1{
    font-family: 'Cabin', sans-serif;
    color: rgb(245, 242, 91);
    font-size: 120px;
    padding-top: 180px;
    text-align: center;
    margin-top: 1px;
}
h2{
    color: rgb(245, 242, 91);
    font-size: 50px;
    text-align: center;
}
p{
    font-family: 'Cabin', sans-serif;
}
 
/*stilos de productos*/
.productos{
   margin-left: 5em;
   margin-right: auto;
}
.imagenproducto{
    margin: 100px;
}
td{
    padding-left: 7em;
    padding-top: 1px;
    padding-right: 7em;
    padding-bottom: 1px;
    text-align: center;
}

/* footer */
footer{
    background-color: #ff4e00;
    margin-top: 100px;
    color: white;
}
#contactos{
    background-color: #ff4e00;
    margin-top: 100px;
    color: white;
    text-align: center;
}
