body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #dc3445;

}
#Hero-Section {
  background-image: url("../img/HEADER.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.imagenprincipal{
  width: 100px;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }


}
.imagenprincipal{
padding: 0px;
}
.logoadc{
  width: 14rem;
}
.titulo{
  font-family: 'Times New Roman', Times, serif;
}

.btn{
  margin-top: 3rem;
  width: 9rem;
}
.gif{
  width: 10rem;

}
.aboutme{
  height: 500px;
}
.acercademi{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.devian{
  margin-top: 20rem;
}
.gif2{
  width: 22rem;
}
.titulo{
  font-family: 'Courier New', Courier, monospace;
  
}
.gif3{
  width: 5rem;
}
.ilustrador{
  margin-top: 4rem;
}